* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    color: black;
}

header {
    /* background-color: #FF914D; */
    background-color: #FFF;
    box-shadow: 0px 0px 3px #111;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

nav img{

    margin-top: 10px;
    height: 50px;
}

main {
    background: url("file:///C:/Users/Pichau/Desktop/Site%20Final/midia/cafe_banner.png");
    background-size: cover;
    height: 100vh;
    box-shadow: 0px 0px 3px #111;
}


main h1{
    margin-top: 330px;
    margin-left: 100px; 
    font-size: 2vw;
}

.logo {
    text-decoration: none;
    font-size: 2vw;
}

.nav-list {
    display: flex;
    list-style: none;
}


.nav-list li a{
    margin-left: 32px;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding: 7px;
    font-size: 1.3vw;
}

.nav-list a:hover {
    /* background-color: white; */
    color: #FF914D;
    transition: 0.3s;
}

#sobre-nos{
    /* background-color: rgb(192, 187, 187); */
}

#sobre-nos h1{
    padding-top: 30px;
    margin-left: 45vw;
}

#sobre-nos p{
    margin-top: 10px;
    margin-left: 20vw;
}

.sobre-nos-midia, .sobre-nos-midia-grande {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sobre-nos-midia img{
    width: 30vw;
    height: 30vh;
    border: #FF914D solid 1px;
    box-shadow: 0px 0px 3px #111;
}

.sobre-nos-midia-grande img{
    width: 50vw;
    height: 35vw;
    border: #FF914D solid 1px;
    box-shadow: 0px 0px 3px #111;
}


#nosso-cafe h1{
    margin-top: 0px;
    padding-top: 30px;
    margin-left: 44vw;
}
#nosso-cafe p{
    margin-top: 10px;
    margin-left: 20vw;
}

.descricao {
   text-align: center;
}

.descricao h3{
    padding-top: 10px;
}

.cardapio {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.cardapio a{
    color: rgb(83, 78, 78);
}

.cardapio a:hover{
    color: #000;
    transition: 0.5s;
}

#contato h1{
    margin-top: 0px;
    padding-top: 30px;
    margin-left: 41.5vw;
}

.estados {
    padding: 5px;
}

#contato p{
    margin-top: 10px;
    margin-left: 20vw;
}

#contato ul {
    margin-left: 20vw;
}

footer {
    background-color: #FF914D;
    height: 20vh;
    box-shadow: 0px 0px 3px #111;
    
}

.informacoes {
    display: flex;
    justify-content: space-around;
}

.informacoes ul li {
    list-style: none;
    line-height: 25px;
}

.icons {
    padding-top: 45px;
}


.icons img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.icons img:hover{
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

.cafedosul {
    display: flex;
    justify-content:center;
    padding-top: 30px;
}

.cafedosul p {
    color: rgb(78, 78, 78);
}

.cardapio2 {
    padding-top: 20px;
    font-size: 1.4vw;
    display: block;
    text-align: center;
}

.cardapio2 h4 {
    padding: 10px 10px;
}

.bg-dif {
    background-color: #cfcccc;
    box-shadow: 0px 0px 3px #111;
}
